In [1]:
import pandas as pd
import requests
from config import api_key

In [7]:
# Define stock tickers to query
tickers = [
    "GOOGL",
    "AAPL",
    "AMD",
    "TSLA",
    "GME"
]

# Define dictionary to store API queries
d = {}

In [22]:
# Try to query each ticker on Quandl, create row of empty values if not found
for ticker in tickers:
    query_url = f"https://www.quandl.com/api/v3/datasets/WIKI/{ticker}/data.json?&api_key={api_key}"
    
    
    try:
        response = requests.get(query_url).json()['dataset_data']

        # Store each df as the value of the dictionary (sorted by date)
        d[ticker] = pd.DataFrame(response["data"], columns=response["column_names"]).\
            sort_values(by=["Date"], ascending=True)

        # Add a ticker column
        d[ticker].insert(0, "Ticker", ticker)
    except KeyError:
        d[ticker] = pd.DataFrame([ticker], columns=["Ticker"])

In [23]:
# Concatenate dictionary into a single df, trim columns
df = pd.concat(d.values(), ignore_index=True)
df = df.iloc[:,:6]
df

       Ticker        Date    Open    High       Low    Close
0      NASDAQ         NaN     NaN     NaN       NaN      NaN
1       GOOGL  2004-08-19  100.01  104.06   95.9600  100.335
2       GOOGL  2004-08-20  101.01  109.08  100.5000  108.310
3       GOOGL  2004-08-23  110.76  113.48  109.0500  109.400
4       GOOGL  2004-08-24  111.24  111.60  103.5700  104.870
...       ...         ...     ...     ...       ...      ...
27655     GME  2018-03-21   14.31   14.45   14.0100   14.020
27656     GME  2018-03-22   13.94   14.09   13.5900   13.830
27657     GME  2018-03-23   13.92   13.94   13.4900   13.500
27658     GME  2018-03-26   13.70   14.09   13.5850   14.040
27659     GME  2018-03-27   14.07   14.21   13.7739   13.880

[27660 rows x 6 columns]

In [25]:
try:
    # Create new column that calculates daily change in price
    df["Daily_Change"] = df["Close"] - df["Open"]

    # Convert date to preferred format
    df["Date"] = pd.to_datetime(df["Date"])
    df["Date"] = df["Date"].dt.strftime('%m-%d-%Y')
except KeyError:
    pass
df.head()

   Ticker        Date    Open    High     Low    Close  Daily_Change
0  NASDAQ         NaN     NaN     NaN     NaN      NaN           NaN
1   GOOGL  08-19-2004  100.01  104.06   95.96  100.335         0.325
2   GOOGL  08-20-2004  101.01  109.08  100.50  108.310         7.300
3   GOOGL  08-23-2004  110.76  113.48  109.05  109.400        -1.360
4   GOOGL  08-24-2004  111.24  111.60  103.57  104.870        -6.370

In [7]:
# Check data types
df.dtypes

Ticker           object
Date             object
Open            float64
High            float64
Low             float64
Close           float64
Daily_Change    float64
dtype: object

In [12]:
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [ ]:
# Connect to MongoDB
engine = create_engine("sqlite:///____") # **Need to complete path**

In [ ]:
# **Export to Postgres**