In [1]:
import pandas as pd
import requests
from config import api_key

In [15]:
start_date = "2013-01-01"
end_date = "2018-03-31"
tickers = [
    "GOOGL",
    "AAPL",
    "AMD",
    "TSLA",
    "GME"
]
d = {}

In [18]:
for ticker in tickers:
    query_url = f"https://www.quandl.com/api/v3/datasets/WIKI/{ticker}/data.json?&api_key={api_key}"
    response = requests.get(query_url).json()['dataset_data']
    d[ticker] = pd.DataFrame(response["data"], columns=response["column_names"])
    d[ticker].insert(0, "Ticker", ticker)
    
pd.concat(d.values(), ignore_index=True)

,Ticker,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,GOOGL,2018-03-27,1063.90,1064.54,997.62,1006.94,2940957.0,0.0,1.0,1063.900000,1064.540000,997.620000,1006.940000,2940957.0
1,GOOGL,2018-03-26,1050.60,1059.27,1010.58,1054.09,3272409.0,0.0,1.0,1050.600000,1059.270000,1010.580000,1054.090000,3272409.0
2,GOOGL,2018-03-23,1051.37,1066.78,1024.87,1026.55,2413517.0,0.0,1.0,1051.370000,1066.780000,1024.870000,1026.550000,2413517.0
3,GOOGL,2018-03-22,1080.01,1083.92,1049.64,1053.15,3418154.0,0.0,1.0,1080.010000,1083.920000,1049.640000,1053.150000,3418154.0
4,GOOGL,2018-03-21,1092.57,1108.70,1087.21,1094.00,1990515.0,0.0,1.0,1092.570000,1108.700000,1087.210000,1094.000000,1990515.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27654,GME,2002-02-20,19.75,19.75,19.05,19.75,861600.0,0.0,1.0,7.746039,7.746039,7.471495,7.746039,1723200.0
27655,GME,2002-02-19,19.80,19.80,18.75,19.10,926300.0,0.0,1.0,7.765649,7.765649,7.353834,7.491106,1852600.0
27656,GME,2002-02-15,20.05,20.05,19.70,19.90,1048700.0,0.0,1.0,7.863700,7.863700,7.726428,7.804869,2097400.0
27657,GME,2002-02-14,20.35,20.39,19.85,20.00,1377700.0,0.0,1.0,7.981361,7.997050,7.785259,7.844090,2755400.0
27658,GME,2002-02-13,19.25,20.12,19.05,20.10,9527000.0,0.0,1.0,7.549936,7.891154,7.471495,7.883310,19054000.0