In [29]:
import pandas as pd
import requests
from config import api_key

In [30]:
# Stock tickers to query
tickers = [
    "GOOGL",
    "AAPL",
    "AMD",
    "TSLA",
    "GME"
]

# Define dictionary to store API queries
d = {}

In [33]:
# Loop through tickers
for ticker in tickers:
    query_url = f"https://www.quandl.com/api/v3/datasets/WIKI/{ticker}/data.json?&api_key={api_key}"
    response = requests.get(query_url).json()['dataset_data']
    
    # Store each df as the value of the dictionary, and add a ticker column
    d[ticker] = pd.DataFrame(response["data"], columns=response["column_names"])
    d[ticker].insert(0, "Ticker", ticker)

In [32]:
# Concatenate dictionary into a single df, trim columns
df = pd.concat(d.values(), ignore_index=True)
df = df.iloc[:,:6]
df

      Ticker        Date     Open     High      Low    Close
0      GOOGL  2018-03-27  1063.90  1064.54   997.62  1006.94
1      GOOGL  2018-03-26  1050.60  1059.27  1010.58  1054.09
2      GOOGL  2018-03-23  1051.37  1066.78  1024.87  1026.55
3      GOOGL  2018-03-22  1080.01  1083.92  1049.64  1053.15
4      GOOGL  2018-03-21  1092.57  1108.70  1087.21  1094.00
...      ...         ...      ...      ...      ...      ...
27654    GME  2002-02-20    19.75    19.75    19.05    19.75
27655    GME  2002-02-19    19.80    19.80    18.75    19.10
27656    GME  2002-02-15    20.05    20.05    19.70    19.90
27657    GME  2002-02-14    20.35    20.39    19.85    20.00
27658    GME  2002-02-13    19.25    20.12    19.05    20.10

[27659 rows x 6 columns]