In [1]:
import pandas as pd
import numpy as np

In [2]:
bitcoin_file = "CSVs/bitcoin_price.csv"
ethereum_file = "CSVs/ethereum_price.csv"
litecoin_file = "CSVs/litecoin_price.csv"
ripple_file = "CSVs/ripple_price.csv"
dash_file = "CSVs/dash_price.csv"

In [3]:
bitcoin_file_df = pd.read_csv(bitcoin_file, encoding="ISO-8859-1")
ethereum_file_df = pd.read_csv(ethereum_file, encoding="ISO-8859-1")
litecoin_file_df = pd.read_csv(litecoin_file, encoding="ISO-8859-1")
ripple_file_df = pd.read_csv(ripple_file, encoding="ISO-8859-1")
dash_file_df = pd.read_csv(dash_file, encoding="ISO-8859-1")

In [4]:
bitcoin_file_df['Symbol'] = 'BTC'
new_bitcoin_file_df = bitcoin_file_df
new_bitcoin_file_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol
0,"Feb 20, 2018",11231.8,11958.5,11231.80,11403.7,"9,926,540,000","189,536,000,000",BTC
1,"Feb 19, 2018",10552.6,11273.8,10513.20,11225.3,"7,652,090,000","178,055,000,000",BTC
2,"Feb 18, 2018",11123.4,11349.8,10326.00,10551.8,"8,744,010,000","187,663,000,000",BTC
3,"Feb 17, 2018",10207.5,11139.5,10149.40,11112.7,"8,660,880,000","172,191,000,000",BTC
4,"Feb 16, 2018",10135.7,10324.1,9824.82,10233.9,"7,296,160,000","170,960,000,000",BTC

In [5]:
new_bitcoin_file_df['Volume'] = new_bitcoin_file_df['Volume'].str.replace(",", "")
new_bitcoin_file_df['Volume'] = new_bitcoin_file_df['Volume'].str.replace("-", "0")
new_bitcoin_file_df['Volume'] = new_bitcoin_file_df['Volume'].astype('int64')
new_bitcoin_file_df['Market Cap'] = new_bitcoin_file_df['Market Cap'].str.replace(",", "")
new_bitcoin_file_df['Market Cap'] = new_bitcoin_file_df['Market Cap'].str.replace("-", "")
new_bitcoin_file_df['Volume'] = new_bitcoin_file_df['Volume'].astype('int64')
new_bitcoin_file_df['Close Increase'] = new_bitcoin_file_df['Close'] - new_bitcoin_file_df['Close'].shift(-1)
new_bitcoin_file_df['Volume Increase'] = new_bitcoin_file_df['Volume'] - new_bitcoin_file_df['Volume'].shift(-1)
new_bitcoin_file_df['Market Cap Increase'] = new_bitcoin_file_df['Market Cap'] - new_bitcoin_file_df['Market Cap'].shift(-1)
last_bitcoin_df = new_bitcoin_file_df[['Date', 'Symbol', 'Open', 'High', 'Low', 'Close', 'Close Increase', 'Volume', 'Volume Increase', 'Market Cap', 'Market Cap Increase']]
last_bitcoin_df.head(10)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [6]:
ethereum_file_df['Symbol'] = 'ETH'
new_ethereum_file_df = ethereum_file_df
new_ethereum_file_df.head(10)

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol
0,"Feb 20, 2018",943.57,965.26,892.95,895.37,"2,545,260,000","92,206,500,000",ETH
1,"Feb 19, 2018",921.67,957.78,921.55,943.87,"2,169,020,000","90,047,700,000",ETH
2,"Feb 18, 2018",973.35,982.93,915.45,923.92,"2,567,290,000","95,077,100,000",ETH
3,"Feb 17, 2018",944.75,976.60,940.75,974.12,"2,525,720,000","92,264,000,000",ETH
4,"Feb 16, 2018",934.79,950.00,917.85,944.21,"2,369,450,000","91,272,100,000",ETH
5,"Feb 15, 2018",923.73,951.95,911.11,936.98,"2,900,100,000","90,173,300,000",ETH
6,"Feb 14, 2018",844.28,926.43,844.28,923.56,"2,818,370,000","82,400,600,000",ETH
7,"Feb 13, 2018",869.29,870.71,828.84,845.26,"2,081,170,000","84,824,200,000",ETH
8,"Feb 12, 2018",817.51,875.94,817.51,868.71,"2,243,450,000","79,754,400,000",ETH
9,"Feb 11, 2018",859.29,859.29,788.22,814.66,"2,486,650,000","83,813,000,000",ETH

In [7]:
ethereum_file_df['Symbol'] = 'ETH'
new_ethereum_file_df = ethereum_file_df
new_ethereum_file_df.head(10)

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol
0,"Feb 20, 2018",943.57,965.26,892.95,895.37,"2,545,260,000","92,206,500,000",ETH
1,"Feb 19, 2018",921.67,957.78,921.55,943.87,"2,169,020,000","90,047,700,000",ETH
2,"Feb 18, 2018",973.35,982.93,915.45,923.92,"2,567,290,000","95,077,100,000",ETH
3,"Feb 17, 2018",944.75,976.60,940.75,974.12,"2,525,720,000","92,264,000,000",ETH
4,"Feb 16, 2018",934.79,950.00,917.85,944.21,"2,369,450,000","91,272,100,000",ETH
5,"Feb 15, 2018",923.73,951.95,911.11,936.98,"2,900,100,000","90,173,300,000",ETH
6,"Feb 14, 2018",844.28,926.43,844.28,923.56,"2,818,370,000","82,400,600,000",ETH
7,"Feb 13, 2018",869.29,870.71,828.84,845.26,"2,081,170,000","84,824,200,000",ETH
8,"Feb 12, 2018",817.51,875.94,817.51,868.71,"2,243,450,000","79,754,400,000",ETH
9,"Feb 11, 2018",859.29,859.29,788.22,814.66,"2,486,650,000","83,813,000,000",ETH

In [8]:
new_ethereum_file_df['Volume'] = new_ethereum_file_df['Volume'].str.replace(",", "")
new_ethereum_file_df['Volume'] = new_ethereum_file_df['Volume'].astype('int64')
new_ethereum_file_df['Market Cap'] = new_ethereum_file_df['Market Cap'].str.replace(",", "")
new_ethereum_file_df['Close Increase'] = new_ethereum_file_df['Close'] - new_ethereum_file_df['Close'].shift(-1)
new_ethereum_file_df['Volume Increase'] = new_ethereum_file_df['Volume'] - new_ethereum_file_df['Volume'].shift(-1)
final_ethereum_df = new_ethereum_file_df[['Date', 'Symbol', 'Open', 'High', 'Low', 'Close', 'Close Increase', 'Volume', 'Volume Increase', 'Market Cap']]
final_ethereum_df.head(10)

,Date,Symbol,Open,High,Low,Close,Close Increase,Volume,Volume Increase,Market Cap
0,"Feb 20, 2018",ETH,943.57,965.26,892.95,895.37,-48.50,2545260000,376240000.0,92206500000
1,"Feb 19, 2018",ETH,921.67,957.78,921.55,943.87,19.95,2169020000,-398270000.0,90047700000
2,"Feb 18, 2018",ETH,973.35,982.93,915.45,923.92,-50.20,2567290000,41570000.0,95077100000
3,"Feb 17, 2018",ETH,944.75,976.60,940.75,974.12,29.91,2525720000,156270000.0,92264000000
4,"Feb 16, 2018",ETH,934.79,950.00,917.85,944.21,7.23,2369450000,-530650000.0,91272100000
5,"Feb 15, 2018",ETH,923.73,951.95,911.11,936.98,13.42,2900100000,81730000.0,90173300000
6,"Feb 14, 2018",ETH,844.28,926.43,844.28,923.56,78.30,2818370000,737200000.0,82400600000
7,"Feb 13, 2018",ETH,869.29,870.71,828.84,845.26,-23.45,2081170000,-162280000.0,84824200000
8,"Feb 12, 2018",ETH,817.51,875.94,817.51,868.71,54.05,2243450000,-243200000.0,79754400000
9,"Feb 11, 2018",ETH,859.29,859.29,788.22,814.66,-45.75,2486650000,-443880000.0,83813000000

In [9]:
litecoin_file_df.head(10)

           Date    Open    High     Low   Close         Volume      Market Cap
0  Feb 20, 2018  223.09  253.90  222.51  232.85  1,739,670,000  12,335,100,000
1  Feb 19, 2018  215.41  226.97  215.38  223.06    767,597,000  11,907,900,000
2  Feb 18, 2018  230.51  232.64  214.46  215.74  1,011,120,000  12,738,800,000
3  Feb 17, 2018  229.50  233.45  225.60  229.47    863,401,000  12,679,700,000
4  Feb 16, 2018  225.50  236.09  212.33  230.12  1,300,090,000  12,455,300,000
5  Feb 15, 2018  212.35  237.88  211.17  225.43  2,087,290,000  11,725,700,000
6  Feb 14, 2018  159.58  218.23  159.58  213.36  2,383,340,000   8,809,590,000
7  Feb 13, 2018  161.78  162.37  153.51  159.55    483,468,000   8,928,360,000
8  Feb 12, 2018  150.10  163.35  150.10  161.57    535,710,000   8,282,050,000
9  Feb 11, 2018  155.39  155.73  142.61  148.99    495,720,000   8,571,530,000

In [10]:
litecoin_file_df['Symbol'] = 'LTC-USD'
new_litecoin_file_df = litecoin_file_df
new_litecoin_file_df.head(10)

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol
0,"Feb 20, 2018",223.09,253.90,222.51,232.85,"1,739,670,000","12,335,100,000",LTC-USD
1,"Feb 19, 2018",215.41,226.97,215.38,223.06,"767,597,000","11,907,900,000",LTC-USD
2,"Feb 18, 2018",230.51,232.64,214.46,215.74,"1,011,120,000","12,738,800,000",LTC-USD
3,"Feb 17, 2018",229.50,233.45,225.60,229.47,"863,401,000","12,679,700,000",LTC-USD
4,"Feb 16, 2018",225.50,236.09,212.33,230.12,"1,300,090,000","12,455,300,000",LTC-USD
5,"Feb 15, 2018",212.35,237.88,211.17,225.43,"2,087,290,000","11,725,700,000",LTC-USD
6,"Feb 14, 2018",159.58,218.23,159.58,213.36,"2,383,340,000","8,809,590,000",LTC-USD
7,"Feb 13, 2018",161.78,162.37,153.51,159.55,"483,468,000","8,928,360,000",LTC-USD
8,"Feb 12, 2018",150.10,163.35,150.10,161.57,"535,710,000","8,282,050,000",LTC-USD
9,"Feb 11, 2018",155.39,155.73,142.61,148.99,"495,720,000","8,571,530,000",LTC-USD

In [11]:
ripple_file_df.head(10)

           Date  Open  High       Low  Close         Volume      Market Cap
0  Feb 20, 2018  1.14  1.17  1.080000   1.09    806,673,000  44,648,100,000
1  Feb 19, 2018  1.12  1.17  1.120000   1.14    556,304,000  43,813,300,000
2  Feb 18, 2018  1.20  1.21  1.090000   1.12  1,113,650,000  46,997,500,000
3  Feb 17, 2018  1.14  1.22  1.130000   1.20  1,186,730,000  44,370,200,000
4  Feb 16, 2018  1.14  1.15  1.110000   1.14    568,339,000  44,663,300,000
5  Feb 15, 2018  1.14  1.16  1.110000   1.15  1,188,530,000  44,433,600,000
6  Feb 14, 2018  1.03  1.17  1.020000   1.14  1,457,600,000  40,026,500,000
7  Feb 13, 2018  1.08  1.08  1.010000   1.03    921,100,000  42,119,800,000
8  Feb 12, 2018  1.01  1.11  1.010000   1.08  1,756,290,000  39,262,700,000
9  Feb 11, 2018  1.07  1.08  0.929767   1.00  2,555,310,000  41,635,500,000

In [12]:
ripple_file_df['Symbol'] = 'XRP-USD'
new_ripple_file_df = ripple_file_df
new_ripple_file_df.head(10)

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol
0,"Feb 20, 2018",1.14,1.17,1.080000,1.09,"806,673,000","44,648,100,000",XRP-USD
1,"Feb 19, 2018",1.12,1.17,1.120000,1.14,"556,304,000","43,813,300,000",XRP-USD
2,"Feb 18, 2018",1.20,1.21,1.090000,1.12,"1,113,650,000","46,997,500,000",XRP-USD
3,"Feb 17, 2018",1.14,1.22,1.130000,1.20,"1,186,730,000","44,370,200,000",XRP-USD
4,"Feb 16, 2018",1.14,1.15,1.110000,1.14,"568,339,000","44,663,300,000",XRP-USD
5,"Feb 15, 2018",1.14,1.16,1.110000,1.15,"1,188,530,000","44,433,600,000",XRP-USD
6,"Feb 14, 2018",1.03,1.17,1.020000,1.14,"1,457,600,000","40,026,500,000",XRP-USD
7,"Feb 13, 2018",1.08,1.08,1.010000,1.03,"921,100,000","42,119,800,000",XRP-USD
8,"Feb 12, 2018",1.01,1.11,1.010000,1.08,"1,756,290,000","39,262,700,000",XRP-USD
9,"Feb 11, 2018",1.07,1.08,0.929767,1.00,"2,555,310,000","41,635,500,000",XRP-USD

In [13]:
dash_file_df.head(10)

           Date    Open    High     Low   Close       Volume     Market Cap
0  Feb 20, 2018  728.99  738.74  685.04  685.04  126,208,000  5,754,970,000
1  Feb 19, 2018  687.70  731.11  687.22  728.73   89,328,600  5,427,640,000
2  Feb 18, 2018  744.09  747.42  673.57  689.28   96,752,600  5,871,020,000
3  Feb 17, 2018  699.13  748.89  693.64  742.16  116,106,000  5,515,090,000
4  Feb 16, 2018  702.53  722.02  684.28  698.86  100,343,000  5,540,570,000
5  Feb 15, 2018  679.79  705.67  667.21  703.86  116,822,000  5,359,910,000
6  Feb 14, 2018  593.59  685.12  593.59  678.98  138,992,000  4,679,080,000
7  Feb 13, 2018  622.12  625.75  583.40  595.47   73,287,300  4,902,660,000
8  Feb 12, 2018  582.83  626.77  582.83  620.56   76,646,200  4,591,910,000
9  Feb 11, 2018  633.43  633.43  561.91  580.02   81,111,400  4,989,410,000

In [14]:
dash_file_df['Symbol'] = 'DASH-USD'
new_dash_file_df = dash_file_df
new_dash_file_df.head(10)

,Date,Open,High,Low,Close,Volume,Market Cap,Symbol
0,"Feb 20, 2018",728.99,738.74,685.04,685.04,"126,208,000","5,754,970,000",DASH-USD
1,"Feb 19, 2018",687.70,731.11,687.22,728.73,"89,328,600","5,427,640,000",DASH-USD
2,"Feb 18, 2018",744.09,747.42,673.57,689.28,"96,752,600","5,871,020,000",DASH-USD
3,"Feb 17, 2018",699.13,748.89,693.64,742.16,"116,106,000","5,515,090,000",DASH-USD
4,"Feb 16, 2018",702.53,722.02,684.28,698.86,"100,343,000","5,540,570,000",DASH-USD
5,"Feb 15, 2018",679.79,705.67,667.21,703.86,"116,822,000","5,359,910,000",DASH-USD
6,"Feb 14, 2018",593.59,685.12,593.59,678.98,"138,992,000","4,679,080,000",DASH-USD
7,"Feb 13, 2018",622.12,625.75,583.40,595.47,"73,287,300","4,902,660,000",DASH-USD
8,"Feb 12, 2018",582.83,626.77,582.83,620.56,"76,646,200","4,591,910,000",DASH-USD
9,"Feb 11, 2018",633.43,633.43,561.91,580.02,"81,111,400","4,989,410,000",DASH-USD

In [15]:
new_dash_file_df['Volume'] = new_dash_file_df['Volume'].str.replace(",", "").astype(int)
new_dash_file_df['Market Cap'] = new_dash_file_df['Market Cap'].str.replace(",", "").astype(int)
new_dash_file_df['Close Increase'] = new_dash_file_df['Close'] - new_dash_file_df['Close'].shift(-1)
new_dash_file_df['Volume Increase'] = new_dash_file_df['Volume'] - new_dash_file_df['Volume'].shift(-1)
last_dash_df = new_dash_file_df[['Date', 'Symbol', 'Open', 'High', 'Low', 'Close', 'Close Increase', 'Volume', 'Volume Increase', 'Market Cap']]
last_dash_df.head(10)

,Date,Symbol,Open,High,Low,Close,Close Increase,Volume,Volume Increase,Market Cap
0,"Feb 20, 2018",DASH-USD,728.99,738.74,685.04,685.04,-43.69,126208000,36879400.0,"5,754,970,000"
1,"Feb 19, 2018",DASH-USD,687.70,731.11,687.22,728.73,39.45,89328600,-7424000.0,"5,427,640,000"
2,"Feb 18, 2018",DASH-USD,744.09,747.42,673.57,689.28,-52.88,96752600,-19353400.0,"5,871,020,000"
3,"Feb 17, 2018",DASH-USD,699.13,748.89,693.64,742.16,43.30,116106000,15763000.0,"5,515,090,000"
4,"Feb 16, 2018",DASH-USD,702.53,722.02,684.28,698.86,-5.00,100343000,-16479000.0,"5,540,570,000"
5,"Feb 15, 2018",DASH-USD,679.79,705.67,667.21,703.86,24.88,116822000,-22170000.0,"5,359,910,000"
6,"Feb 14, 2018",DASH-USD,593.59,685.12,593.59,678.98,83.51,138992000,65704700.0,"4,679,080,000"
7,"Feb 13, 2018",DASH-USD,622.12,625.75,583.40,595.47,-25.09,73287300,-3358900.0,"4,902,660,000"
8,"Feb 12, 2018",DASH-USD,582.83,626.77,582.83,620.56,40.54,76646200,-4465200.0,"4,591,910,000"
9,"Feb 11, 2018",DASH-USD,633.43,633.43,561.91,580.02,-54.08,81111400,-35285600.0,"4,989,410,000"